* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-family: 'Helvetica Neue', 'Microsoft Yahei', 'Simsun', 'sans-serif';
	background-color: #eff0f7;
	display: flex;
	justify-content: center;
}

#main {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 50%;
	height: 100%;
}

#card {
	width: 250px;
	padding: 30px;
	border-radius: 3px;
	box-shadow: 2px 5px 50px #D5D9E2;
}

.name {
	text-align: center;
	font-weight: 300;
	margin-bottom: 15px;
	-webkit-filter: blur(3px);
	transition: 0.4s;
	&:hover {
		-webkit-filter: blur(0)
	}
}

p {
	margin-bottom: 10px;
	line-height: 1.3;
}
